

@import "../node_modules/bootstrap/scss/bootstrap";
@import "./partials/_header";
@import "./partials/navBar";
@import "./partials/filtros";
@import "./partials/galery";
@import "./partials/footer";
@import "./partials/variables";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');





.maiN{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #060606;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23555555' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

// .imagenArticulo{
//     width: 25vw;
//     max-width: 100%;
//     overflow: hidden;
//     margin-top: 15px;
//     transition: 0.5s ease-out;
    
// }

/* MATERIALES */
.textWhite{
    color: #BABABA;
}

.mainMat{
    box-sizing: border-box;
    width: 100%;
    background-color: #0B0B10;
    display: grid;
    grid-template-rows: repeat(5, auto);
}

.pSup{
    display: block;
    text-align: center;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.imgRollo{
    display: flex;
    justify-content: center;
}

.h3s{
    padding-left: 1vw;
}

.pes{
    padding-left: 5%;
    padding-right: 5%;
}

/*INFORMACION*/
.mainInf{
    box-sizing: border-box;
    width: 100%;
    background-color: #0B0B10;
}

.p2Inf{
    padding-bottom: 10vh;
    padding-left: 1vw;
}

.videoResponsive{
    height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}

.videoYT{
    height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/*  UBICACION */

.mainUbi{
    display: block;
    padding-left: 1%;
}

.hUbi{
    padding: 1vw;

}

.pUbi{
    padding-bottom: 15vh;
}

.mapUbi{
    border-radius: 1rem;
    margin-bottom: 5vh;
}

/* CONTACTO */

.formDiv{
    width: fit-content;
}

.pCont{
    padding-bottom: 5vh;
}

.form-contact label{
    color: #BABABA;
}

.contactInput{
    background-color: #343333;
    border-radius: 5px;
    margin: 5px;
}

.inputSend{
    width: 30%;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background: #282727;
    color: #BABABA;
    transition: 0.5s ease;
}

.inputSend:hover{
    box-shadow: 0px 10px 10px -5px #adadad60;
    transform: translateY(-0.25em);
}

.mainContact{
    box-sizing: border-box;
    width: 100%;
    background-color: #0B0B10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes{
    display: block;
    padding-left: 1%;
    text-decoration: none;
    padding-bottom: 20px;
}

.redes p{
    padding-bottom: 10px;
}

.redes a{
    padding-right: 15px;
}

/*EFECTOS*/
.liNav:hover{
    box-shadow: 1px 1px 3px 1px #3f51b5;
}

@keyframes tituloHero {
    0%{
        font-size: 120px;
        transform: translate(150px,0);
    }
    
}



@media screen and (max-width:480px) {
    .navBar{
        justify-content: center;
        border-top: solid 2px #BABABA;
    }
    .lista1{
        flex-direction: column;
    }
    .liNav{
        text-align: center;
    }
    .nav-titulo{
        display: none;
    }
    .barraFiltros{
        height: 100px;
        border-bottom: solid 2px #BABABA;
        grid-column: 1/-1;
        width: 100%;
        border-right: none;
        flex-direction: initial;
        gap: 15px;
        justify-content: center;
        padding-top: 0;
    }
    .imagenesPrincipal{
        grid-column: 1/-1;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 20px;
        padding-bottom: 10%;
    }
/* Pestaña MATERIALES*/
    .mainMat{
        display: block;
    }
    .materialImg{
        width: -webkit-fill-available;
    }
    .mapUbi{
        max-width: -webkit-fill-available;
    }
    
}

@media screen and (max-width:960px){
    .div-img{
        width: 350px;
    }
    .nav-titulo{
        font-size: 30px;
    }
}

@media screen and (max-width:1020px) {
    .div-img{
        margin: auto;
    }
}