@import "./variables";



.imagenesPrincipal{
    grid-column: 2/-1;
    padding-top: map-get($estilos, padin);   
    padding-bottom: map-get($estilos, padin); ; 
    .row-opt{
        row-gap: map-get($estilos, padin); ;
        align-items: center;
        justify-content: center;
        .div-img{
            @include tamanos(370px, 400px);
            .imgPrincipal{
                border: solid 2px #BABABA;
                transition: 0.5s ease-out;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover{
                transform: scale(1.3);
                transition: 0.5s ease-out;

            }
        }
    }
}